/ {
	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	/* Using default pins for nRF52840:
	 * TX: P0.6
	 * RX: P0.8
	 */
}; 